<%- include("partials/header.ejs") %>
    <div class="head">This is a blog Website</div>
    <div class="postSection">
        <a href="/form"><button class="btn">Create new Post</button></a>
    </div>
    
    
    
    <div class="content">
        <% if(locals.objLength>0){ %>
            <% for (const key in obj) {%>
                <div class="blogs hover">
                    <h1 class="blogh"><%= obj[key].head %></h1>
                    <p class="para"><%= obj[key].comment %></p>
                    <br>
                    <br>
                    <a href="/delete/<%= key %>">Delete</a>
                </div>
            <% } %>
        <% } %>
    </div>

    <script src="js/script.js"></script>
    <%- include("partials/footer.ejs") %>